$primary-color: #0199d7;
$secundary-color: #c00d25;
$card-size: 192px;
@mixin base-card {
  width: $card-size;
  justify-content: space-around;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 1rem;
  cursor: pointer;
  margin: 1rem;
}
.card_wrapper {
  @include base-card;
  position: relative;
  height: 13rem;
  z-index: 1;
}
.card {
  @include base-card;
  height: $card-size;
  position: absolute;
  background-color: $primary-color;
  flex-direction: column;

  &__title {
    transform: scaleY(-1);
    color: $primary-color;
    font-size: 31px;
    position: absolute;
  }
}
.sub-card {
  @include base-card;
  height: $card-size;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  z-index: -1;
  margin: 1rem 3rem;
  .card__title {
    transform: scaleY(1);
    font-size: 31px;
    position: absolute;
    color: #ffff;
  }
}
