@import '../../../../../var';

.menu {
    color: #ffffff;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;
    &__icon {
        width: 75px;
        height: 81px;
    }
    &__title {
       color: $primary-color;
       font-size: 15px;
       padding: 0 .4rem;
    }
    &--desktop {
        display: none;
    }
    &--mobile {
        width: 100%;
       // background-color:$primary-color;
        height: .5rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        flex-flow: wrap;  
    }
    &--inactive {
       display: flex;
       position: absolute;
       top: 6rem;
       width: 130.5px;
       height: 3rem;    
    }
    &--active {
        height: 19rem;
        opacity: 1;
    }
    &--hauto {
        height: auto;
    }
    
    &__imobile {
        width: 36%;
        background-color: transparent;
        height: 3rem;
        border-radius: 43px;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__element {
        width: 100%;
        border-radius: 8px;
        padding: 0 0.7rem;
        height: auto;
        background-color: #e4e4e4;
        color: #0074a3;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        margin: 0.6rem 0.5rem;
        position: relative;
        &--title {
            font-size: 15px;
            margin: 0;
            line-height: 3.4;
        }
        &--desktop {
            box-shadow: none;
            background-color: transparent;
            transition: all 0.3s;
            color: #0074a3;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__subelement {
        font-size: 13px;
        li {
            list-style: none;
            line-height: 1.7;
            cursor: pointer;
        }
        &--close {
            position: absolute;
            top: 8%;
            right: 14px;
        }
        &--arrow {
            @extend .menu__subelement--close;
            top:13px;
        }
    }
 
}

.menu{
    &__line {
    width: 1.9rem;
    background-color: #0199d7;
    height: 0.1rem;
    position: absolute;
  }
  &__line:last-child {
    transform: translateY(3px);
  }
}

//Desktop
@media (min-width: 800px) {
    .menu--desktop {
        display: block;
    }
    .menu--mobile {
        display: none;
    }
}

