@import '../../../../../var';


$with-info-s1: 100%;
$w-img: 385px;
$h-img: 258px;
.home {
    &__info {
        width:$with-info-s1;
        display: flex;
        flex-direction: column;
        position: relative;
        img {
            width: $w-img;
            position: absolute;
            top: -15px;
            left: 1.1rem;
            z-index: 1;
        }
    }
    &__img {
        width: $w-img;
        background-color: $primary-color;
        position: absolute;
        height: $h-img;
    }

    &__menu {
        position: absolute;
        top: 9rem;
        width: 100%;
        left: 0;
    }
    &__title {
        width: 14rem;
        margin-bottom: 1rem;
    }
    &__text {
        margin: 0;
    }
}

.home__info__image {
    position: relative;
    top: 3rem;
    width: $w-img;
    margin: 0 auto;
}

//Desktop
@media (min-width: 800px) {
    .home__menu {
        position: relative;
    }
    .home__text {
        width: 40%;
    } 
    .home__info__image {
        position: absolute;
        right: 0;
        margin-right: 5.25%;

    }
  }