@import '../../../../../var';


$with-info-s1: 93.4%;
$w-img: 270px;
$h-img: 180px;
.base-img {
    transition: all .7s;
    width: $w-img;
    position: relative;
    align-self: center;
    margin: 0px 5rem;
}
.home {
    &__info {
        width:$with-info-s1;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 auto;
    }
    &__img {
       @extend .base-img;
       &--low {
           @extend .base-img;
           top: 46px;
       }
    }



    &__title {
        width: 16rem;
        margin-bottom: 1rem;
    }
    &__subtitle {
        height: 9.5rem;
        padding-top: 2rem;
        min-width: 48%;
        align-self: center;
        &--center {
            text-align: center;
        }
    }
    &__text {
        margin: 0;
    }
    &__aboutus {
        width: 333px;
        align-self: center;
        margin-top: 0;
        text-align: center;
    }
}

.home__info__image {
    transition: all .7s;
    position: relative;
    top: 3rem;
    width: $w-img;
    margin: 0 auto;
}


//Desktop
@media (min-width: $size-ismobile) {
    $w-img: 385px;
    $h-img: 258px;
    .section-margin {
       margin-bottom: 12%;
    }
    .home__menu {
        position: relative;
        display: flex;
      
        &__mobile {
            display: none;
        }
    }
    .home__whatits {
        flex-direction: row;
        justify-content: center;
    }
    .home__img--low {
        right: 0px;
        top: 0px;
        position: absolute;
    }
    .home__text {
        width: 40%;
    } 
    .home__info__image {
        position: absolute;
        right: 0;
        top: 1rem;
        margin-right: 1.25%;
        width: $w-img;
    }
    .home__img {
        width: $w-img;
        height: $h-img;
    }
    .home__info  img {
        width: $w-img;
    }
  }