
<section class="section section--gray section--column section-margin">
  <div class="home__info">
    <h1 class="title--blue home__title">Autocuidados tras <span class="underline">CMA</span></h1>
    <p class="home__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis
      iaculis diam vitae congue. Fusce efficitur nisl ut augue maximus, quis
      euismod eros sodales. Aliquam consectetur velit sit amet venenatis
      faucibus.
    </p>
      <img src="assets/inicio.png"  class="home__img--low"/>
  </div>


  <cma-menu class="home__menu"></cma-menu>
</section>
<section class="section section--column">
  <h1 class="title--blue home__subtitle home__subtitle--center">¿Quiénes somos?<span class="e-underline"></span></h1>
  <p class="home__aboutus">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis
      iaculis diam vitae congue. Fusce efficitur nisl ut augue maximus, quis
      euismod eros sodales
  </p>
</section>
<section class="section section--blue section--column home__whatits">
  <img src="assets/cma-descrip.png" class="home__img" />
  <div class="home__subtitle">
    <h1 class="title white">CMA, ¿qué es?</h1>
    <p class="white">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis
      iaculis diam vitae congue. Fusce efficitur nisl ut augue maximus, quis
      euismod eros sodales. Aliquam consectetur velit sit amet venenatis
      faucibus.
    </p>
  </div>


</section>
