@import '../../../../../var';


$with-info-s1: 93.4%;
$w-img: 270px;
$h-img: 180px;
.home {
    &__info {
        width:$with-info-s1;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 auto;
        img {
            transition: all .7s;
            width: $w-img;
            position: absolute;
            top: -15px;
            left: 1.1rem;
            z-index: 1;
        }
    }
    &__img {
        transition: all .7s;
        width: $w-img;
        background-color: $primary-color;
        position: absolute;
        height: $h-img;
    }

    &__menu {
        position: absolute;
        top: 7.6rem;
        width: 100%;
        left: 0;
        display: none;
        &__mobile {
            display: flex;
        }
    }
    
    &__title {
        width: 16rem;
        margin-bottom: 1rem;
    }
    &__text {
        margin: 0;
    }
}

.home__info__image {
    transition: all .7s;
    position: relative;
    top: 3rem;
    width: $w-img;
    margin: 0 auto;
}

//Desktop
@media (min-width: 800px) {
    $w-img: 385px;
    $h-img: 258px;
    .home__menu {
        position: relative;
        display: flex;
        &__mobile {
            display: none;
        }
    }
    .home__text {
        width: 40%;
    } 
    .home__info__image {
        position: absolute;
        right: 0;
        top: 1rem;
        margin-right: 1.25%;
        width: $w-img;
    }
    .home__img {
        width: $w-img;
        height: $h-img;
    }
    .home__info  img {
        width: $w-img;
    }
  }