<cma-menu-mobile class="home__menu__mobile"></cma-menu-mobile>

  <!-- Menu MOBILE-->
<section class="section section--gray section--column">
  <div class="home__info">
    <h1 class="title--blue home__title">Autocuidados tras <span class="underline">CMA</span></h1>
    <p class="home__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis
      iaculis diam vitae congue. Fusce efficitur nisl ut augue maximus, quis
      euismod eros sodales. Aliquam consectetur velit sit amet venenatis
      faucibus.
    </p>
    <div class="home__info__image">
      <img src="assets/markus-spiske.jpg" />
      <div class="home__img"></div>
    </div>
  </div>


  <cma-menu class="home__menu"></cma-menu>
</section>
<section class="section"></section>
<section class="section section--blue"></section>
