<div class="menu">
  <!-- Menu DESKTOP--> 
  <cma-card-item *ngFor="let menuItem of menu$ | async" class="menu--desktop">
    <!-- SubMenu-->
    <ng-template subItem>
      <div *ngFor="let item of menuItem.submenu"  class="menu__element--desktop" (click)="_goToSubMenu(item)">
      {{item.title}}
      </div>
    </ng-template>
     <!-- SubMenu-->

    <img
      [src]="'assets/'+ menuItem.icon"
      alt="{{menuItem.code}}"
      class="menu__icon"
    />
    <h2>{{menuItem.title}}</h2>
  </cma-card-item>

</div>


