@import '../../../../../../var';

.menu {
    color: #ffffff;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    &__icon {
        width: 75px;
        height: 81px;
    }
    &--desktop {
        display: none;
    }
    &--mobile {
        width: 100%;
        background-color:$primary-color;
        height: 4rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
 
}

//Desktop
@media (min-width: 800px) {
    .menu--desktop {
        display: block;
    }
    .menu--mobile {
        display: none;
    }
  }