

<div class="menu--mobile" [ngClass]="{'menu--active': toggle}">
    <div class="menu--inactive" (click)="openMenu()">
      <button
        class="material-icons menu__imobile menu__imobile--switch"
        [@hamburgerButton]="toggle"
      >
        <span class="menu__line up" [@hamburgerButtonChildUp]="toggle"></span>
        <span
          class="menu__line down"
          [@hamburgerButtonChildDown]="toggle"
        ></span>
      </button>
      <p class="menu__title">Menu</p>
    </div>

    <div
      class="menu__element"
      *ngFor="let menuItem of menu, let i = index"
      (click)="_selectItem(i, $event)"
    >
      <h2 class="menu__element--title">{{menuItem.title}}</h2>
      <ul class="menu__subelement" *ngIf="i === _indexCurrentMenu" @expand>
        <li *ngFor="let subMenu of menuItem.submenu">
          {{subMenu.title}}
        </li>
      </ul>
      <span class="material-icons menu__subelement--arrow" *ngIf="i !== _indexCurrentMenu">
        arrow_forward
        </span>
      <span
        class="material-icons menu__subelement--close"
        *ngIf="i === _indexCurrentMenu"
        (click)="_closeItem($event)">
        cancel
      </span>
    </div>
  </div>