.search {
    position: relative;
    background: #ffff;
    width: 90%;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 3px;
    min-height: 50px;
    height: 74vh;
    top: 10rem;
    padding: 1rem;
    overflow-y: scroll;
    margin: 0 auto;
    &__element {
        padding:0.2rem 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &:hover {
            background-color:#0199D7 ;
            color: #ffff;
            border-radius: 10px;
        }
    }
}

@media (min-width: 1024px) {
    .search {
        width: 30.6%;
        transform: translate(49.3rem, -123rem);
        top: 0;
        height: 341px;
        margin: 0;
    }
    .backdrop {
        background-color: #0000007a;
    }
  }

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .search {
        
        transform: translate(-1.1rem, -140rem);
        top: 5px;
    }
}
