@import "var";

$size-screen-pc: "1364px";
$w-img: 370px;
$h-img: 254px;

$w-video: 489px;
$h-video: 285px;

$w-img-mobile: 292px;
$h-img-mobile: 206px;

$w2-img: 570px;
$h2-img: 380px;

.no-content {
    display: flex;
    justify-content: center;
    line-height: 34;
    font-size: 20px;
    text-transform: uppercase;
    color: $primary-color;
}
.content {
  &__header {
    justify-content: center;
    position: relative;
  }
  &__img-title {
    transition: all 0.7s;
    width: $w-img;
    height: $h-img;

    position: absolute;
    left: 0;
    right: 0;
    bottom: -46px;
    margin: 0 auto;
  }
  &__wrapper-img {
    height: 12rem;
    width: 100%;
  }
  &__img-info {
    width: $w-img-mobile;
    height: $h-img-mobile;
    padding-top: 31px;
    padding-right: 20px;
  }
  &__text {
    flex-basis: 50%;
    flex-grow: 2;
    gap: 16px;
  }
  &__text2 {
    padding: 1rem;
  }
  p {
    font-size: 14px;
  }
  @mixin base-p {
    background-color: $primary-color;
    padding: 3rem;
    p {
      column-gap: 100px;
      color: #ffffff;
    }
  }
  &__info {
    width: 52%;
    flex-grow: 2;
    display: flex;
    align-items: center;
    font-weight: 300;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    &--large {
      @include base-p;
    }
    &--large2 {
      @include base-p;
    }
    &--esp2 {
      display: none;
    }
    &--esp2m {
      width: 100%;
    }
    &--video {
      padding: 1rem;
    }
  }
  &__section {
    justify-content: center;
    top: 3.1rem;
    position: relative;
    flex-flow: wrap-reverse;
    padding-bottom: 0;
    align-items: center;
    &--reverse {
      flex-flow: wrap-reverse;
    }
  }
  &__icon {
    font-size: 50px;
    color: $primary-color;
    position: relative;
    bottom: -15px;
    right: 0;
    margin: 0 auto;
    width: 3.3rem;
    left: 0;
    cursor: pointer;
    background: #ffff;
    border-radius: 17px;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px,
      rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  }
}

@mixin base-wrapper {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
}
.wrapper-content {
  @include base-wrapper;
  &--center {
    @include base-wrapper;
    justify-content: center;
  }
  &--s92 {
    @include base-wrapper;
    width: 92% !important;
  }
  &--between {
    @include base-wrapper;
    justify-content: space-between;
  }
}
.img-esp-elments {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1);
}
.img-esp {
  background-color: $primary-color;
  padding: 1rem;
  width: 50px;
  height: 50px;
  /*   margin-top: 5rem;
  margin-left: 3.1rem; */
  img {
    @extend .img-esp-elments;
  }
}

@media (min-width: $size-screen-pc) {
  .content__header {
    margin: 0 3.2rem;
  }
  .content__section {
    //  margin: 0 3rem;
    &--reverse {
      flex-flow: row-reverse wrap;
    }
  }
  .content__img-title {
    width: $w2-img;
    height: $h2-img;
    position: inherit;
  }
  .content__wrapper-img {
    width: auto;
  }
  .content__img-info {
    width: $w-img;
    height: $h-img;
  }
  .content__video-info {
    width: $w-video;
    height: $h-video;
    padding-left: 0.3rem;
  }
  .content__info {
    margin: 0 3rem;
    &--large {
      p {
        column-count: 2;
      }
    }
    &--esp2 {
      display: block;
      max-width: 45%;
      margin: 0 !important;
      li {
        //width: 59%;
        padding: 0.9rem;
      }
      li::marker {
        color: $primary-color;
        font-size: 0.5em;
      }
    }
    &--iconEsp2 {
      display: flex;
      width: 48%;
      justify-content: space-around;
    }
    &--esp2m {
      display: none;
    }
    &--esp {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
    }
    &--large2 {
      p {
        column-count: 1;
      }
    }
    &--video {
      justify-content: flex-end;
      align-items: center;
      width: 55%;
      display: flex;
      p {
        width: 80%;
      }
    }
    &--text2 {
      width: 40%;
      text-align: justify;
      padding: 3rem;
      &:last-child {
        background-color: $primary-color;
        p {
          color: #ffffff;
        }
      }
    }
    &--text3 {
      flex-grow: unset;
      text-align: center;
      width: 30%;
    }
  }
  .content__text {
    flex-basis: 32%;
    margin-right: 10rem;
  }
  .img-esp {
    margin: 1rem;
  }
  .esp-title {
    text-align: center;
    width: 47%;
    align-self: center;
  }
  .esp-content {
    display: flex;
  }
  .esp-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    padding: 2rem;
  }
}
