/* You can add global styles to this file, and also import other style files */
@import "./var";



body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  max-width: 1366px;
  height: 100vh;
}
p {
  color: #606060;
}
.white {
  color: #ffffff;
}
.bkg-base {
  position: absolute;
  height: 467px;
  width: 100%;
  left: 0;
  top: 102px;
}
.bkg {
  &--gray {
    @extend .bkg-base;
    background-color: #f2f2f2;
    &2{
      @extend .bkg--gray;
      height: 366px;
    }
  }
  &--blue {
    @extend .bkg-base;
    background-color: $primary-color;
    bottom: -736.703px;
    top: auto;
  }
}
.section {
  // width:100%;
  padding: 1.5rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
 
  &--gray {
    background-color: $bkg-section1;
  }
  &--blue {
    background-color: $primary-color;
  }
  &--column {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  //size
  &--md {
    min-height: 271px;
  }
  &--sm {
    min-height: 224px;
  }
}
.base-title {
  font-size: 2.7rem;
  margin: 0;
}
.title {
  @extend .base-title;
  &--blue {
    @extend .base-title;
    color: $primary-color;
  }
}
.title2 {
    @extend .base-title;
    font-size: 34px;
}
.underline {
  text-decoration: none;
  border-bottom: 2px solid $secondary-color;
}
.e-underline {
  height: 1.8px;
  width: 6rem;
  background-color: $secondary-color;
  display: block;
  margin: 16px auto;
}
.flex {
  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: row;
  }
}
@media (min-width: $size-ismobile) {
  .ismobile {
    display: none !important;
  }
  .section {
    padding: 3rem;
    height: 371px;
    &--md {
      height: 271px;
    }
    &--sm {
      height: 224px;
    }
    &--auto {
      height: auto;
    }
  }

}

@media (max-width: $size-ismobile) {
  .isDesktop {
    display: none !important;
  }
  .bkg-base {
    display: none;
  }
}


/* Scroll 1 */
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}