.header {
  display: flex;
  justify-content: space-around;
  height: 5.3rem;
  &__img {
      width: 235px;
      height: 67px;
      align-self: center;
  }
  &__search {
    font-size: 34px;
    color: #0299d7;
    align-self: center;
    font-weight: 600;
    cursor: pointer;
  }
}
