@import 'var.scss';

.header {
  display: flex;
  height: 6.3rem;
  width: 88%;
  //margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  &__img {
      width: 235px;
      height: 67px;
      align-self: center;
      cursor: pointer;
  }
}
@media (min-width: $size-ismobile) {
  .empty {
      display: none;
  }
}
