@import 'var.scss';

.header {
  display: flex;
  height: 5.3rem;
  width: 88%;
  margin: 0 auto;
  justify-content: space-between;
  &__img {
      width: 235px;
      height: 67px;
      align-self: center;
  }
  &__search {
    font-size: 34px;
    color: #0299d7;
    align-self: center;
    font-weight: 600;
    cursor: pointer;
  }
}
@media (min-width: $size-ismobile) {
  .empty {
      display: none;
  }
}